<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h2>Detail Contact</h2>
      
       <!--<div class="alert alert-danger" role="alert">-->
  <!--Data kontak tidak ada <br><a href="/contact" class="alert-link">Kembali ke daftar kontak</a>. Give it a click if you like.-->
<!--</div>-->
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= contact.nama %> 
          </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= contact.nohp %></h6>
          <p class="card-text"><%= contact.email %></p>
          <a href="/contact" class="card-link">&laquo; Kembali ke daftar contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
