.youtube-wrapper {
  display: inline-block;
  padding: 15px;
  width: 42%;
  margin: 0 auto;
  border-radius: 10px;
}

.img-thumb img {
  width: 100%;
}
.title {
  font-size: 12pt;
  font-weight: bold;
  margin: 5px 0;
}

.desc {
  color: gray;
  margin: 0;
  font-size: .8rem;
}