<h4>Daftar Mahasiswa</h4>
<ul>
  <% if (mahasiswa.length == 0) { %>
    <p>Data mahasiswa masih kosong</p>
  <% }
mahasiswa.forEach(mhs => {
      %>
    <li>Nama : <%= mhs.nama %> </li>
    <li>Email : <%= mhs.email %> </li>
    <br>
  <% }) %> 
</ul>
